.container{
    width: 45%;
}
.title-container{
    background-color: rgb(235, 230, 230);
}
.title{
    padding-top: 1em;
}
.subtitle{
    padding-bottom: 1em;
}
.center{
    text-align: center;
}
.imgContainer{    
    display: flex;
    justify-content: center;
}
.imgContainer img{
padding-top: 1em;
}